* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-size: cover;
    background-image: url(../image/lightblue.jpg);
    
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

h2, h3 {
    color: #102e5d;
}

.leftbox {
    width: 28%;
    padding: 10px;
    text-align: left;
}
.rightbox {
    width: 28%;
    padding: 10px;
}
.back-btn {
    font-size: large;
    border: none;
    width: 60px;
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: #007bff
}
.back-btn:hover {
    background-color: #0056b3;
    cursor: pointer;
}

/* for therapist page */
.therapistContainer {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 30px;
    flex-wrap: nowrap;
    text-align: center;
    min-height: 800px;
}

.tableContainer {
    background-color: rgb(236, 236, 236);
    margin: 5px;
    max-height: 615px;
    overflow-y: auto;
}
.star {
    color: #f8c41a;
    border: #2d2c33 2px;
    font-size: 20px;
    text-align: center;
    padding: 0px;
}
/* search function start */

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
}
.search-bar input[type="text"] {
    font-size: 20px;
    height: 28px;
    flex-grow: 1;
}
.search-bar button {
    font-size: 20;
    border: none;
    width: 80px;
    height: 28px;
    border-radius: 5px;
    color: white;
    background-color: #007bff
}
.search-bar button:hover {
    background-color: #0056b3;
}

/* search function end */

/* style of Header and Footer start */

#logo-icon {
    height: 90px;
    margin-top: 17px;
  }


.navbar {
    width: 100%;
    height: 100px;
    background-color: #386a9b;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.site-footer {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    background-color: #386a9b;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    padding-left: 30px;
}
.navbar span {
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding-left: 30px;
}
/* style of Header and Footer end */