
/* ============= patient-patientDashboard page Start - By Zhen ========== */

.patientDashboard {
  margin: 0 auto; 
  padding: 30px; 
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  min-height: 800px;
  min-width: fit-content;
}


.left-panel h1 {
  text-align: left;
  padding-bottom: 30px;
  color: #f8c41a;
}

.left-panel {
  width: 47%;
  text-align: left;
  min-width: 300px;
  padding: 10px;
  min-width: fit-content;
}

.right-panel {
  width: 53%;
  min-width: 250px;
  padding: 10px;
  text-align: left;
}


.newJournal-button {
  background-color: #f8c41a;
  color: white;
  float: left;
 
  margin-bottom: 15px;
  align-self: flex-start;
  
}

.newJournal-button:hover {
  background-color: #c69e18;
  cursor: pointer;
}

.contentList-table, th, td {
  border: none;
  padding-left: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 10px;
  text-align: left;
}

.contentList-table a {
  text-decoration: none;
  color: black;
}

.content-list {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: fit-content;
  padding: 20px;
  min-height: 471px;
  margin-bottom: 20px;
  flex-direction: column; 
  display: flex; /* Set display to flex */
  justify-content: space-between; /* Align children with space in between */
}

.contentList-table th {
  background-color: #386a9b; 
  color: white;
}
.contentList-table td {
  background-color: rgb(236, 236, 236); 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  }

.contentList-table {
  width: 100%;
  border-collapse: collapse;
}

.contentList-table th:nth-child(1), .contentList-table td:nth-child(1) {
  width: 85%;
  max-width: 300px;
}

.patientDashboardViewMore-Button, .newJournal-button {
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
}

.patientDashboardViewMore-Button {
  background-color: #386a9b;
  color: white;
  align-self: flex-end; 
  margin-top: 10px;
  margin-right: 10px; 
  float: right;
  
  
}
  

  .patientDashboardViewMore-Button:hover {
    background-color: #2b537a;
    cursor: pointer;
  }


.activity, .goal, .affirmation {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.activity h3 {
  margin-bottom: 20px;

}
.activity-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  
  
}

.stat {
  text-align: center;
  width: 33%; 
  
  
}


.stat h2 {
  font-size: 2em;
  margin: 5px 0;
  color: #7c9e83;
}

.stat span {
  font-size: 0.5em;
  vertical-align: top;
}


.goal p {
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px dashed #ddd;
}


.affirmation label {
  display: block;
  margin-bottom: 10px;
}

.affirmation input[type="radio"] {
  margin-right: 10px;
}

.affirmation form {
  min-height: 145px;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px dashed #ddd;
  
.affirmation {
  min-height: 180px;
}



}




/* ============= patient-patientDashboard page End - By Zhen ========== */