/*---patientJournal--- Start*/
.delete-button {
    display: block;
    font-size: 16px;
    padding: 7px 12px;
    background-color: #f44336;
    border: none;
    color: white;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #ca382d;
}

.popup, .note-modal-buttons {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    padding-top: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popup-overlay {
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.note-modal-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

/*---Style for the buttons--- */
.note-modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.note-modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#note-cancelBtn {
    background-color: #f0f0f0;
    color: #000;
}

#note-confirmBtn {
    background-color: #1565c0;
    color: white;
}

#note-cancelBtn:hover {
    background-color: #ddd;
}

#note-confirmBtn:hover {
    background-color: #004a99;
}

/*---patientJournal--- End*/
