/* ============= therapist-patientDetail page Start - By Zhen ========== */

.patientDetailContainer {
  margin: 0 auto; /* 水平居中显示 */
  padding: 30px; /* 容器内边距 */
  overflow-y: auto;
  
}

.patientDetailContainer h1 {
  color: #102e5d;
}



.user-details {
  display: flex;
  align-items: flex-start; /* 保证子元素从容器的顶部开始对齐 */
  justify-content: space-between; /* 文本和按钮分布在容器的两端 */
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.patient-info, .journal-lists {
  margin-bottom: 15px;
  text-align: left;

}

.patient-info {
  list-style-type: none; /* 去除小圆点 */
  flex-grow: 1;/* 允许文本占据多余的空间 */
  padding-top: 10px;
  
}

.patient-info li {
  margin-bottom: 5px; /* 增加每个列表项之间的底部外边距 */
}

.notes-button {
  margin-left: 20px; /* 为按钮和文本之间提供一些空间 */
}

#journals {
  text-align: left; 
  font-weight: bold;
  color: #102e5d;
  }
  
.date-picker-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

#date-range-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
}

#date-icon {
  margin-left: 10px;
  cursor: pointer;
}

#date-icon img {
  width: 20px;
  height: 20px;
}

.date-picker {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.date-picker div {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 5px;
}

.date-picker div:hover {
  background-color: #f2f2f2;
}

.calendar-popup {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.calendar-popup select {
  margin-bottom: 5px;
  width: 100%;
}

.calendar-popup button {
  margin-top: 5px;
 
}




.journalLists-table {
  width: 100%;
  border-collapse: collapse;
}

.journalLists-table, th, td {
  border: none;
  padding-left: 12px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  
}

.journalLists-table  th {
  background-color: #386a9b; /* 表头背景色 */
  color: white;
}

.journalLists-table   td {
  background-color: rgb(236, 236, 236); /* 单元格背景色 */
}

.journalLists-table th:nth-child(2), .journalLists-table td:nth-child(2) {
  width: 500px; /* 增加第二列的右内边距 */
}


.notes-button, .patientDetailPageViewMore-button {
  padding: 10px 20px; /* 按钮内边距 */
  border: none; /* 无边框 */
  border-radius: 5px; /* 按钮边角圆滑 */
  cursor: pointer; /* 鼠标悬停时显示手型图标 */
  font-size: 16px; /* 文本大小 */  
}

.notes-button {
  background-color: #f8c41a;;
  color: white;
  float: right;
}

.notes-button:hover {
  background-color: #c69e18;
  cursor: pointer;
}



.patientDetailPageViewMore-button {
  background-color: #386a9b;
  color: white;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.patientDetailPageViewMore-button:hover {
  background-color: #2b537a;
  cursor: pointer;
}

/* ============= therapist-patientDetail page End  - By Zhen ========== */