/* ============= Login & therapist-addNewNote page Start - By Min ========== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    /* background: url('/mockups/images/back-img-optimized.webp') no-repeat center center fixed; */
    background-size: cover;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ↓ Cannot scroll to top when the window size is small */
    /* height: 100vh; */
    overflow-y: auto;
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input-group {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.input-group li {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group li input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

.input-group li button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group li button:hover {
    background-color: #0056b3;
}

.input-group li a#forget-password {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    display: block;
}

#account {
    text-align: center;
    font-size: 14px;
}

#create-account {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
#create-account:hover {
    text-decoration: underline;
}

.input-group li a#forget-password:hover {
    text-decoration: underline;
}

p {
    font-size: 14px;
    color: #555;
    text-align: center;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
.reminder {
    margin-top: 10px;
}

#ppcy {
    text-decoration: underline;
    color: #555;
}
#use {
    text-decoration: underline;
    color: #555;
}

.noteContainer {
    max-width: 800px; /* 容器最大宽度 */
    margin: 0 auto; /* 水平居中显示 */
    background-color: #ffffff; /* 容器背景颜色 */
    padding: 20px; /* 容器内边距 */
    border-radius: 8px; /* 边框圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 容器阴影 */
}
h2 {
    text-align: center;
}
.note-input-group{
    list-style: none;
    margin-right: 40px;
}
/* 按钮样式 */
.note-button-group button {
    padding: 10px 20px; /* 按钮内边距 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 按钮边角圆滑 */
    cursor: pointer; /* 鼠标悬停时显示手型图标 */
    margin-right: 10px; /* 右边距 */
    font-size: 16px; /* 文本大小 */
   
}
.back-button {
    top: 20px;
    left: 10px;
    color: #2d2c33;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: transparent;
    /*transition: 0.3s ease, color 0.3s ease;*/
}
.back-button:hover {
    color: blue;
    cursor: pointer;
}

.cancel-button {
    background-color: #f44336; /* 红色背景 */
    color: #ffffff; /* 白色文本 */
    margin-left: 300px;
}
.cancel-button:hover {
    background-color: #c82333;
}

.confirm-button {
    background-color: #4CAF50; /* 绿色背景 */
    color: #ffffff; /* 白色文本 */
}
.confirm-button:hover {
    background-color: #218838;
}

/* 输入框和标签样式 */
.note-input-group label {
    display: block; /* 标签块级显示 */
    margin-bottom: 5px; /* 标签下边距 */
    font-weight: bold; /* 字体加粗 */
    margin-right: auto;
}

.note-input-group input[type="text"],
.note-input-group input[type="number"],
.note-input-group textarea {
    width: 100%; /* 输入框宽度 */
    padding: 8px; /* 输入框内边距 */
    margin-bottom: 15px; /* 下边距 */
    border: 1px solid #ccc; /* 边框 */
    border-radius: 4px; /* 边角圆滑 */
}

/* 表格样式 */
.note-table {
    width: 100%; /* 表格宽度 */
    border-collapse: collapse; /* 边框合并 */
    margin-top: 10px; /* 上边距 */
}

.note-table, th, td {
    border: 1px solid #ccc; /* 边框颜色 */
}

.note-table th, td {
    text-align: left; /* 文本左对齐 */
    padding: 8px; /* 单元格内边距 */
}

.note-table  th {
    background-color: #f2f2f2; /* 表头背景色 */
}

.note-table  td {
    background-color: #ffffff; /* 单元格背景色 */
}
.note-entry {
    display: flex;
    align-items: center;
    gap: 20px; /* 控制元素之间的间距 */
  }
  #date-picker {
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
  }

  .fa-calendar {
    font-size: 18px;
    color: #4b4488;
  }

  #history-notes {
    color: black;
    text-decoration: none;
  }
  #history-notes:hover {
    color: blue;
  }


  /* ============= Login & therapist-addNewNote page End - By Min ========== */

  /* ============= therapist-patientDetail page Start - By Zhen ========== */
  .patientDetailContainer {
    max-width: 800px; /* 容器最大宽度 */
    margin: 0 auto; /* 水平居中显示 */
    background-color: #ffffff; /* 容器背景颜色 */
    padding: 20px; /* 容器内边距 */
    border-radius: 8px; /* 边框圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 容器阴影 */
}
  

.patientList-button {
    top: 20px;
    left: 10px;
    color: #2d2c33;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: transparent;
    /*transition: 0.3s ease, color 0.3s ease;*/
}
.patientList-button:hover {
    color: blue;
    cursor: pointer;
}



.patient-info, .journal-lists {
    margin-bottom: 15px;
    text-align: left;
}

.patient-info {
    list-style-type: none; /* 去除小圆点 */
}

.patient-info li {
    margin-bottom: 5px; /* 增加每个列表项之间的底部外边距 */
}

.user-details {
    display: flex;
    align-items: flex-start; /* 保证子元素从容器的顶部开始对齐 */
    justify-content: space-between; /* 文本和按钮分布在容器的两端 */
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.patient-info {
    flex-grow: 1; /* 允许文本占据多余的空间 */
}

.notes-button {
    margin-left: 20px; /* 为按钮和文本之间提供一些空间 */
}

.journal-lists label {
    display: block; /* 标签块级显示 */
    margin-bottom: 5px; /* 标签下边距 */
    font-weight: bold; /* 字体加粗 */
    margin-right: auto;
}

.journalLists-table {
    width: 100%;
    border-collapse: collapse;
}

.journalLists-table, th, td {
    border: 1px solid #ddd;
    padding-left: 12px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    
}

.journalLists-table  th {
    background-color: #f2f2f2; /* 表头背景色 */
}

.journalLists-table   td {
    background-color: #ffffff; /* 单元格背景色 */
}

.journalLists-table th:nth-child(2), .journalLists-table td:nth-child(2) {
    padding-right: 300px; /* 增加第二列的右内边距 */
}


.notes-button, .viewMore-button {
    padding: 10px 20px; /* 按钮内边距 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 按钮边角圆滑 */
    cursor: pointer; /* 鼠标悬停时显示手型图标 */
    margin-right: 10px; /* 右边距 */
    font-size: 16px; /* 文本大小 */  
}

.notes-button {
    background-color: #d871a6;
    color: white;
    cursor: pointer;
    float: right;
}

.notes-button:hover {
    background-color: #9f557b;
}



.viewMore-button {
    background-color: #4091e8;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

.viewMore-button:hover {
    background-color: #266bb5;
}

  /* ============= therapist-patientDetail page End  - By Zhen ========== */

  /* ============= therapist-dashboard page Start - By Wenqiang ========== */
.therapistContainer {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 50px;
    flex-wrap: nowrap;
}
  .left {
    width: 28%;
    min-width: 300px;
    padding: 10px;
}
.centre {
    width: 54%;
    padding: 10px;
    min-width: fit-content;
}
.right {
    width: 28%;
    min-width: 250px;
    padding: 10px;
}
#therapistInfo {
    width: 100%;
    height: 150px;
    background-color: rgb(219, 219, 219);
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.profileImage {
    justify-content: center;
    padding: 10px;
    width: 140px;
    border-radius: 50%;
}
#therapistName {
    font-size:large;
    font-weight: bold;
    margin: 5px;
}
.viewPatients {
    font-size: larger;
    border:none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #007bff
}
#therapistStatistics {
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 4px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#global_journalList {
    align-items: center;
    width: 100%;
    padding: 5px;
    min-width: fit-content;
    height: 684px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tableContainer {
    background-color: rgb(221, 221, 221);
    padding: 5px;
    margin: 5px;
}
.global_journalLists-table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
}

.global_journalLists-table, th, td {
    border: none;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

.global_journalLists-table  th {
    background-color: #f2f2f2; 
}

.global_journalLists-table th:nth-child(3) {
    min-width: 300px;
}
#therapistSummary {
    height: 200px;
    background-color: white;
    border-radius: 4px;
    min-width: 100px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
#therapistCalendar {
    height: 463px;
    background-color: white;
    border-radius: 4px;
    min-width: 100px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}



  /* ============= therapist-dashboard page End - By Wenqiang ========== */